
#authorNote{
        font-style: italic;
}

.bg-custom-wood {
    background-color: #fcb737be;
}
.bg-custom-yellow {
    background-color: #f3cf81;
}
.bg-custom-dark-yellow {
    background-color: #f79b11d0;
}
.bg-custom-transparent-blk {
    background-color: #0c0c0c4d;
}
.bg-custom-black{
    background-color: black;
}